/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  background-color: gray;
  color: white;
}

#main-header {
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  padding: 75px;
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
}

select {
  padding: 10px;
}

::placeholder {
  color: #474848;
}


